/SourceCode/.idea/.idea.CSharpHelperMethods/.idea/.name
/SourceCode/.vs/CSharpHelperMethods/v15/.suo
/SourceCode/.vs/CSharpHelperMethods/v15/Server/sqlite3/db.lock
/SourceCode/.idea/.idea.CSharpHelperMethods/.idea/dbnavigator.xml
/SourceCode/.idea/.idea.CSharpHelperMethods/.idea/encodings.xml
/SourceCode/.idea/.idea.CSharpHelperMethods/.idea/indexLayout.xml
/SourceCode/.idea/.idea.CSharpHelperMethods/.idea/projectSettingsUpdater.xml
/SourceCode/.vs/CSharpHelperMethods/v15/Server/sqlite3/storage.ide
/SourceCode/.vs/CSharpHelperMethods/v15/Server/sqlite3/storage.ide-shm
/SourceCode/.vs/CSharpHelperMethods/v15/Server/sqlite3/storage.ide-wal
/SourceCode/.idea/.idea.CSharpHelperMethods/.idea/vcs.xml
SourceCode/.idea/.idea.CSharpHelperMethods/.idea/inspectionProfiles/Project_Default.xml
SourceCode/.idea/.idea.CSharpHelperMethods/.idea/dictionaries/serdar.xml
SourceCode/CSharpHelperMethods/obj/Debug/CSharpHelperMethods.csproj.CoreCompileInputs.cache
SourceCode/CSharpHelperMethods.sln.DotSettings.user
SourceCode/CSharpHelperMethods.Library/obj/Debug/CSharpHelperMethodsLibrary.csproj.AssemblyReference.cache
SourceCode/CSharpHelperMethods.Library/obj/Debug/CSharpHelperMethodsLibrary.csproj.CoreCompileInputs.cache
SourceCode/CSharpHelperMethods.UI/obj/Debug/CSharpHelperMethods.csproj.CopyComplete
SourceCode/CSharpHelperMethods.UI/obj/Debug/CSharpHelperMethods.UI.FrmAnaSayfa.resources
